 
<nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
	<a class="navbar-brand" routerLink=""><i class="fa fa-lemon-o fa-2x" style="color:rgb(105, 212, 16)" aria-hidden="true"></i><b> OntoFrutis</b></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
	 aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav" style="margin-top:10px">
		<ul class="navbar-nav"> 
			<li class="nav-item">
				<a class="nav-link" routerLink="/consulta"><i class="fa fa-search fa-lg" aria-hidden="true"></i> Consultas</a>
			</li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>
 
