<div class="container" style="text-align:center; margin-top:20px">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          ¡Oops!</h1>
          <p><i class="fa fa-times-circle fa-5x" style="color:red" aria-hidden="true"></i></p>
        <h2>
          Error 404: no encontrado</h2>
        <div class="error-details">
          Disculpe, ha ocurrido un error, la página buscada no se encuentra.
        </div>
        <div class="error-actions">
          <a routerLink="" class="btn btn-primary btn-lg" style="margin-top:10px;">
            <i class="fa fa-home" aria-hidden="true"></i> Ir al inicio </a>
        </div>
      </div>
    </div>
  </div>
</div>