<h2 style="margin-bottom:1px; margin-top:15px;">{{model.nombre_Comun}}</h2>
<small>Recurso de Tipo: {{model.type}}</small>
<hr style="margin-top:1px">
<table class="table">
	<thead>
		<tr>
			<th scope="col" style="width:20%">Propiedad</th>
			<th scope="col" style="text-align:center ">Valor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Nombre Científico</td>
			<td>
				{{model.nombre_cientifico}}
			</td>
		</tr>

		<tr>
			<td>Nombre Común</td>
			<td>
				{{model.nombre_Comun}}
			</td>
		</tr>

		<tr>
			<td>Colores</td>
			<td>
				{{model.colores}}
			</td>
		</tr>

		<tr>
			<td>Agua</td>
			<td>
				{{model.agua}}%
			</td>
		</tr>

		<tr>
			<td>Mineral</td>
			<td>
				<a [routerLink]="" *ngFor="let item of model.mineral" (click)="redirectToResource(item)">{{item.nombre_comun}}</a>
			</td>
		</tr>

		<tr>
			<td>Textura</td>
			<td>
				{{model.textura}}
			</td>
		</tr>

		<tr>
			<td>Sabor</td>
			<td>
				{{model.sabor}}
			</td>
		</tr>

		<tr>
			<td>Región</td>
			<td>
				<a [routerLink]="" *ngFor="let item of model.region" (click)="redirectToResource(item)">{{item.recurso}}</a>
			</td>
		</tr>

		<tr>
			<td>Vitamina</td>
			<td>
				<a [routerLink]="" *ngFor="let item of model.vitamina" (click)="redirectToResource(item)">{{item.nombre_comun}}</a>
			</td>
		</tr>
	</tbody>
</table>