<h2 style="margin-bottom:1px; margin-top:15px;">Fruta</h2>
<small>Recurso de Tipo: Fruta1, Fruta2</small>
<hr style="margin-top:1px">
<table class="table">
	<thead>
		<tr>
			<th scope="col" style="width:20%">Propiedad</th>
			<th scope="col">Valor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Nombre Científico</td>
			<td>
				{{model.nombre_cientifico}}
			</td>
		</tr>

		<tr>
				<td>Nombre Común</td>
				<td>
					{{model.nombre_Comun}}
				</td>
			</tr>

	colores: string[]; agua: number; mineral: Mineral; Textura: string; Sabor: string; Región:
		Region; vitamina: Vitamina;
	</tbody>
</table>