<div class="col col-md-2">
  <button type="button" class="btn btn-primary " data-toggle="modal" data-target=".modal-agregarFruta">Crear nuevo Recurso Fruta</button>
</div>


<div class="modal fade modal-agregarFruta" #paramModal tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Datos de nuevo recurso Fruta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="inNombreCientifico">Nombre Científico</label>
            <input type="text" class="form-control" [(ngModel)]="model.nombre_cientifico" name="nombre_cientifico" id="inNombreCientifico"
              placeholder="Nombre Científico">
            <small id="smNombreCientifico" class="form-text text-muted">El nombre científico propio de la fruta.</small>
          </div>

          <div class="form-group">
            <label for="inNombreComun">Nombre Común</label>
            <input type="text" class="form-control" [(ngModel)]="model.nombre_Comun" name="nombre_Comun" id="inNombreComun" placeholder="Nombre Común">
            <small id="smNombreComun" class="form-text text-muted">Nombre popular con el que se le conoce a la fruta.</small>
          </div>


          <div class="form-group">
            <label for="inColores">Colores</label>
            <input type="text" class="form-control" [(ngModel)]="model.colores" name="colores" id="inColores" placeholder="Colores">
            <small id="smColores" class="form-text text-muted">Colores que tiene comúnmente la fruta.Colores.</small>
          </div>


          <div class="form-group">
            <label for="inAgua">Porcentaje de agua</label>
            <input type="text" class="form-control" [(ngModel)]="model.agua" name="agua" id="inAgua" placeholder="Agua">
            <small id="smAgua" class="form-text text-muted">Porcentaje de agua que contiene la fruta.</small>
          </div>

          <div class="form-group">
            <label for="inMineral">Mineral</label>
            <input type="text" class="form-control" [(ngModel)]="model.mineral" name="mineral" id="inMineral" placeholder="Mineral">
            <small id="smMineral" class="form-text text-muted">Es describir los diferentes minerales que tiene la fruta Ejemplo: Hierro, Cobre, Calcio entre otros.</small>
          </div>

          <div class="form-group">
            <label for="intextura">Textura</label>
            <input type="text" class="form-control" [(ngModel)]="model.textura" name="textura" id="intextura" placeholder="Textura">
            <small id="smtextura" class="form-text text-muted">Es la textura de la piel que tienen las frutas.</small>
          </div>

          <div class="form-group">
            <label for="insabor">Sabor</label>
            <input type="text" class="form-control" [(ngModel)]="model.sabor" name="sabor" id="insabor" placeholder="Sabor">
            <small id="smsabor" class="form-text text-muted">Es el sabor que tiene que tiene las frutas como puede ser amarga, dulce, acido entre otros.</small>
          </div>

          <div class="form-group">
            <label for="inregion">Región</label>
            <input type="text" class="form-control" [(ngModel)]="model.region" name="region" id="inregion" placeholder="Región">
            <small id="smregion" class="form-text text-muted">Región de la fruta. </small>
          </div>

          <div class="form-group">
            <label for="invitamina">Vitamina</label>
            <input type="text" class="form-control" [(ngModel)]="model.vitamina" name="vitamina" id="invitamina" placeholder="Vitamina">
            <small id="smvitamina" class="form-text text-muted">Las Vitamina que contiene la fruta.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Agregar</button>
      </div>
    </div>
  </div>
</div>