<form>
    <div class="formNCientifico">
      <label for="formNombreCientifico">Nombre Cientifico</label>
      <input type="text" class="form-control" id="formNombreCientifico" placeholder="Escribir...">
    </div>
    <div class="formNComun">
      <label for="formNombreComun">Nombre Comun</label>
      <input type="text" class="form-control" id="formNombreComun" placeholder="Escribir...">
    </div>
      <div class="formColor">
        <label for="formColores">Color</label>
        <input type="text" class="form-control" id="formColores" placeholder="Escribir...">
      </div>
      <div class="formagua">
        <label for="porcentageagua" class="col-2 col-form-label">Porcentaje de Agua</label>
          <input class="form-control" type="number" id="porcentageagua" placeholder="1-100%" min="0" Max="100">
      </div>
      <div class="formMineral">
        <label for="formMinerales">Mineral</label>
        <input type="text" class="form-control" id="formMinerales" placeholder="Escribir...">
      </div>
      <div class="formTextura">
        <label for="formTextu">Textura</label>
        <input type="text" class="form-control" id="formTextu" placeholder="Escribir...">
      </div>
      <div class="formSab">
        <label for="formSabor">Sabor</label>
        <input type="text" class="form-control" id="formSabor" placeholder="Escribir...">
      </div>
      <div class="formReg">
        <label for="formRegion">Region</label>
        <input type="text" class="form-control" id="formRegion" placeholder="Escribir...">
      </div>
      <div class="formVit">
        <label for="formVitamina">Vitamina</label>
        <input type="text" class="form-control" id="formVitamina" placeholder="Escribir...">
      </div>
  </form>