<div class="container" style="margin-left: 20px; margin-top:10px;">
  <div class="row">
    <h1>
      <span class="badge badge-success">
        <i class="fa fa-users" aria-hidden="true"></i> Integrantes</span>
    </h1>
  </div>
</div>


<div class="container-fluid">
  <div class="row text-center" style="margin-top: 10px;">
    <div class="col-lg-3 col-sm-6 col-lg-offset-3" style="margin-bottom: 15px;">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <img alt="" src="https://scontent.fpac1-2.fna.fbcdn.net/v/t1.0-9/11205083_891054740935828_8410570940325912920_n.jpg?oh=744c42a602a0652a7d83299a52e2b2d0&oe=5A39C608">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="https://www.linkedin.com/in/miguel-angelcampos/">Miguel Campos</a>
          </div>
          <div class="desc" style="color:black">Desarrollador</div>
          <div class="desc" style="color:black">Estudiante</div>
          <div class="bottom">
            <p>
              <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/Miguel_Angel_30">
                <i class="fa fa-twitter"></i>
              </a>

              <a class="btn btn-warning btn-sm" rel="publisher" href="https://github.com/miguel3010">
                <i class="fa fa-github"></i>
              </a>
            </p>
          </div>
        </div>

      </div>

    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <img alt="" src="https://avatars1.githubusercontent.com/u/25214204?s=460&v=4">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="https://www.linkedin.com/in/luisyaoyang/">Luis Yao</a>
          </div>
          <div class="desc" style="color:black">Desarrollador</div>
          <div class="desc" style="color:black">Estudiante</div>
          <div class="bottom">
              <p><a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/notLwiz">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-warning btn-sm" rel="publisher" href="https://github.com/Yaito">
                <i class="fa fa-github"></i>
              </a>
              </p>
            </div>
        </div>
        
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <img alt="" src="https://avatars1.githubusercontent.com/u/29824441?s=460&v=4">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="https://www.linkedin.com/in/anell-zheng-630035118/">Anell Zheng</a>
          </div>
          <div class="desc" style="color:black">Desarrollador</div>
          <div class="desc" style="color:black">Estudiante</div>
          <div class="bottom">
              <p> <a class="btn btn-primary btn-facebook btn-sm" href="https://www.facebook.com/anell.zheng">
                 <i class="fa fa-facebook"></i>
               </a>
               <a class="btn btn-warning btn-sm" rel="publisher" href="https://github.com/Az04">
                 <i class="fa fa-github"></i>
               </a>
             </p>
             </div>
        </div>
        
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <img alt="" src="https://avatars1.githubusercontent.com/u/29824725?s=460&v=4">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="http://scripteden.com/">David Soto</a>
          </div>
          <div class="desc" style="color:black">Desarrollador</div>
          <div class="desc" style="color:black">Estudiante</div>
          <div class="bottom">
              <p><a class="btn btn-primary btn-facebook btn-sm" href="https://www.facebook.com/stfu.u.n00bster">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="btn btn-warning btn-sm" rel="publisher" href="https://github.com/dsoto01">
                <i class="fa fa-github"></i>
              </a>
            </p>
            </div>
        </div>
        
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
        <div class="avatar">
          <img alt="" src="https://avatars1.githubusercontent.com/u/29346403?s=460&v=4">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="http://scripteden.com/">José Varela</a>
          </div>
          <div class="desc" style="color:black">Desarrollador</div>
          <div class="desc" style="color:black">Estudiante</div>
          <div class="bottom">
              <p> <a class="btn btn-danger btn-instagram btn-sm" href="https://www.instagram.com/jose_vr26/">
                 <i class="fa fa-instagram"></i>
               </a>
               <a class="btn btn-warning btn-sm" rel="publisher" href="https://github.com/Javr360">
                 <i class="fa fa-github"></i>
               </a>
             </p>
             </div>
        </div>
        
      </div>
    </div>

  </div>
</div>