<div class="card">
	<div class="card-body">
		<h1>
      <span class="badge badge-primary">Presentación del Proyecto</span>
    </h1>
	  <div style="margin-top:20px"><p><b>Ontofrutis</b> es una aplicación Web diseñado para hacer consultas SPARQL a una ontología dedicado a las <b>frutas</b>, es capaz de filtrar características específicas con un alto nivel de complejidad. Está desarrollada en <b>C#</b> y <b>Angular 5</b>, utilizando Protegé para crear la Ontología en <b>OWL</b>.</p>
	</div>
		</div>
	</div>		
	<app-autores></app-autores>

