<app-slider></app-slider>  
<div class="container" style="margin-top: 20px;">
	<div class="row">
		<div class="card border-success ">

			<div class="card-body  ">
				<h4 class="card-title text-success">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					Presentación del Proyecto
					
				</h4>

				<div style="margin-top:20px">
					<p>
						<b>Ontofrutis</b> es una aplicación Web diseñado para hacer consultas SPARQL a una ontología dedicado a las
						<b>frutas</b>, es capaz de filtrar características específicas con un alto nivel de complejidad. Está desarrollada en
						<b>C#</b> y
						<b>Angular 5</b>, utilizando Protegé para crear la Ontología en
						<b>OWL</b> y un servidor creado en
						<b>Apache Jena Fuseki</b>.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<app-autores></app-autores>